<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>부분 포함</h1>
<h2>부분 포함 insert</h2>
<div th:insert="~{template/fragment/footer :: copy}"></div>
<!--
    서버 실행 후 소스 코드를 보면 아래와 같이 출력 됨
    <div>
    <footer>
    푸터 자리 입니다.
    </footer>
    </div>
    th:insert 를 사용하면 현재 태그(div) 내부에 추가한다.
-->


<h2>부분 포함 replace</h2>
<div th:replace="~{template/fragment/footer :: copy}"></div>
<!--
    서버 실행 후 소스 코드를 보면 아래와 같이 출력 됨
    <footer>
    푸터 자리 입니다.
    </footer>
    th:replace 를 사용하면 현재 태그(div)를 대체한다.
-->

<h2>부분 포함 단순 표현식</h2>
<div th:replace="template/fragment/footer :: copy"></div>

<h1>파라미터 사용</h1>
<div th:replace="~{template/fragment/footer :: copyParam ('데이터1', '데이터2')}"></div>

</body>
</html>